
// .content{
//   margin-top: 20px;
//   width: 50%;
//   margin-left:-1% ;
// }

.final-section-parent{
  position: relative;

  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
}
.icon-final-section-part2{
  color: white;
  bottom:20px;
  left: 10px;
  font-size: xx-large;
  position: absolute;
}

a{
  color: black;
  // padding: 1px;
}
span{
  color: grey;
  // padding-top: -10px;
  // margin-top: 30px;
  // margin-top: 20px;
}
.nav-part{
  // margin-bottom: 10px;
  // height: 20px;

  // margin-top: -60px;
  // width: 60%;
  // margin-left: 200px;
}

// .final-section-imag2{
  // margin: 12px 4px;
  // position: relative;
// }


.moving-albums{
  // margin-right: -40px;
  // margin-left: 60px;
}



.final-section-imag1{
  // position: relative;
  // margin: 12px 4px;
  // width: 90%;
  // display: inline-block;
  // margin-left: 70px;
  width: 90%;
  height: 15%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-popularlabum{
  position: absolute;
  // bottom: -25px;
}


// .nava{

//   left:-250px;
//   width: 100%;

//   position: fixed;
//   z-index: 100;
//   width: 100%;


// }

// .navbar{
//   width: 90%;
//   margin-left: 200px;
//   position: fixed;
//   top: 0;
//   margin-top: 0;
//   z-index: 100;
// }



