// form{
//   margin: 0% 40%;

//   width: 600px;
//   height:300px;
//   background-color: aliceblue;
// }

.formlogin-h6-forgt{
  // padding-top: 70px;
  margin-top: 20%;
padding-top: 15%;
  margin-bottom: 35px;
  margin-left: -30px;
}


.containerlogi-btn{
  // margin:2% 45%;
  // margin-top: 50px;
  width: 100%;
  // padding-top: 15px;

  // margin-top: 20px;

}


.buton-submit-forgetpas{

  // padding: 2% 30%;
  margin:5% 30%;
  // margin-top: 50px;
  width: 40%;

}

.containerlogi{
  // width: 60%;

  margin-left: 20%;
}

.box-forget-input{
  width: 130%;
  margin-left: -35px;
}

.word-emailaddress{
  margin-left: -30px;
}
