form{
  // padding-bottom: 50px;
  // margin-top: 150px;
  margin: auto;
  width: 35%;
  height:520px;
  background-color: aliceblue;
}


.containerlogi{
  position: relative;
}


.containerlogi-btn{
  margin:12% 45%;
  width: 10%;
}

.signin-withapp{

  // margin-top: 55%;

  // margin-left: 45%;

}


.p-signinn{
  // position: absolute;

  // top: 180px;
  // left: 120px;
  // margin-top: 30%;
  // padding-top:73%;
  // background-color: antiquewhite;
  margin-top: 3%;
  text-align: center;
}



.icon-login{
  // margin: 0px 12px;
  padding: 0% -2%   ;
}

.apps-signin{
  // position: absolute;
  display: flex;
  font-size: xx-large;
  // padding-bottom: 20%;
  margin-left: -238px;
  // margin-bottom: 10%;

  justify-content:center;
  color: blue;
}


.buton-submit-register{

  // padding-top: 0%;
  margin-top:4% ;
  margin-left: 30%;
  width: 40%;
}

.formlogin-h5-register{
  margin-left: -20%;
  // margin-top: -10%;
  padding-top: 9%;

}

.chechbox-rgister{
  margin-left: -22%;
}

.box{
  // margin: 2.5% -2.5%;
  width: 130%;
  margin-left: -17%;
}

.input-checkout{
  margin-left: -15%;
  // margin-top: -5px;
}

.box2{
  // margin: 4.5% -2.5%;
  // width: 30%;
  // height: 10px;
}


.box3{
  // margin: .5%  -2.5%;
  margin-top: -8%;
  // width: 30%;
  // height: 10px;
}

.Already-have-account-p{
  margin-top: 2%;
}


.check-register{
  margin-top: 9px;
}
