.containerlogi{
  // margin-top: 100px;
  width: 60%;
  // background-color: aqua;
  // background-image: url(/assets/images/white-abstract-wallpaper_23-2148830026.avif);
  // margin-left: 25%;
}

.background-imag{
  // background-image: url(./assets/images/white-abstract-wallpaper_23-2148830026.avif);
  // background-color: black;
  // background-image: url(/assets/ab6761610000e5eb66a95bfbbcadc4c0a690e7c7.jpeg);

  background-image: url(/assets/ab6761610000e5eb66a95bfbbcadc4c0a690e7c7.jpeg);
  margin-top: 40px;

}

.imag-qotof{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  // margin: auto ;
  margin-left: 330px;
  margin-top: 7px;
}

.quotof-h4-sign{
  margin-left: 370px;
  margin-top: -40px;
}



.buton-submit{
  margin-left: 35%;
  margin-top: 25%;
  width: 40%;
}

.stay-sign{
  margin-left: 10px;
  margin-top: 20px;
}



.formlogin-h5-sign{
  // margin-left: 0%;
  padding: 35px;
  // margin-top: -20px;
  // margin-left: -75px;
  top: 20px;

  position: relative;
  left: -40px;
  // margin-right:-25px;

  // padding-top: 40px;
}

.stay-inpuform{
  margin-top:6px;
  // font-size: xx-large;
  // width: 1.5rem;
  // margin-left: -10px;
  margin-left: -13px;
  // width: 79px;

}
.stay-inpuform-item{
  margin-left: 9px;
}

// .w-24{
//     width: 1.5rem;

// }



.sign-inpuform{
  width: 125%;
  // margin-left: 10px;
  // margin-left: -50px;
}




.signin-withapp{
  margin-top: -150px;
  // margin-bottom: 70px;
  // margin-left: 280px;
}

.p-sign{
  display: inline-block;
  // margin-top: 15px;
  margin-left: 40%;
  margin-top: 5%;
}

.apps-signin{
  display: flex;
  font-size: xx-large;
  // margin-left: -128px;
  padding-left: 47%;

  justify-content: space-between;

  color: blue;
}



.icon-login{
  margin: 0px 11px;
  // color: blue;
}

.forget-password{
  position: relative;
  right: -160px;
  font-size: 13px;
  color: rgb(104 159 56);

  margin-left: 28px;
}


.dont-have-account{
  margin-top: 20px;
}



.sign-inpuform-2{

  // width: 30%;
  // margin-left: -50px;
  // margin-top: 50px;

  // margin-left: 125px;
  // padding-top: 180px;

}

.form-check-label{
  // margin-top: 118px;
  // margin-left: -40px;
}

.form-check-input{
  // margin-top: -20px;

  // margin-top: 125px;
  // margin-left: -65px;

}

.btn-primary-sub{
  // margin-bottom: -100px;
  // margin-top: 50px;
  // margin-right: 50px;
  // position: absolute;
  // padding-top: 5px;
  margin-left: 5px;
  width: 90%;
  // height: 150px;
  margin-top: -100px;


  // width: 100%;
  // padding-top: 100px;
}


.link-qotof-sigin{
  // margin: auto;
  margin-left: 700px;
  padding-bottom: 20px;
}
